main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-publi {

    /* height: 700px; */
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#storys {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar{
    width: 0;
}

.card-story{
    /* background-color: cornflowerblue; */
}

.card-story>button {
    background-color: transparent;
    border: none;
    /* text-decoration: none; */ /*SÓ PARA QUEM ESTÁ COM A TAG <a>*/

    font-size: var(--tamanho-fonte-sm);
    color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#criar-publi{
  padding: 10px;
  
}

/* seção criar publi */
.formulario-botao-verde{
    width: 135px;

}

#criar-publi > h2{
  color: #000;
  font-size: var(--tamanho-fonte-lg);
  font-weight: 700;

}

#criar-publi > form > textarea{
  width: 100%;
  height: 80px;
  padding: 10px;
  resize: none;  /* desabilita a redimensão  */
  border: var(--borda);
  color: black;
  font-size: var(--tamanho-fonte-sm);
}

#criar-publi > form > textarea::placeholder{
  color: var(--cor-cinza-medio);
  
}

#criar-publi > form {
  margin-top: 10px;

}

#criar-publi > form > footer{
 margin-top: 30px;
 display: flex;
 justify-content: right;
 gap: 40px;
}

/* publicações */

#publicacoes{
  background-color: aqua;
  width: 100%;
  /* height: 600px; */
}

.card-publi{
  background-color: #fff;
  width: 100%;
   
}

.card-publi > header{
  padding: 15px;
  border: var(--borda);

}

.card-publi > header > a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  column-gap: 10px;
  text-transform: lowercase;
  
}

.imagem-publicacao{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 350px;
}

.card-publi > figure > figcaption{
  color: #000;
  font-size: var(--tamanho-fonte-md);
  font-weight: 500;
  display: flex; 
  align-items: center;
  column-gap: 5px;
  order: 2;
  margin-left: 15px;
  margin-top: 15px;

}

.descricao-publicacao{
  font-size: var(--tamanho-fonte-sm);
  font-weight: 400;
}

.interacoes-publicacao{
  display: flex;
  width: 88px;
  flex-wrap: wrap;
  margin: 15px;
  order: 1;
  cursor: pointer;
  justify-content: space-around;
}

.card-publi > figure{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: var(--borda);
}

.interacoes-publicacao > span{
  font-weight: bold;


}

.interacoes-publicacao > button{
  background-color: transparent;
  border: none;
  gap: 15px;
}

.card-publi > figure > button{
  background-color: transparent;
  border: none;
  color: var(--cor-cinza-escuro3);
  font-size: var(--tamanho-fonte-sm);

  order: 3;
  display: flex;
  margin-left: 15px;
  gap: 10px;

}